/* HEADER */

header {
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 300%;
}

#border-header {
    padding: 1px;
    background-color: rgb(53, 51, 51);
    margin-top: 20px;
}

/* CALENDAR AREA */

.container {
    width: 80%;
}

.row {
    margin-bottom: 5px;
}

input {
    width: 100%;
}

.btn {
    background-color: rgb(253, 215, 0);
    float: right;
}

.time {
    float: right;
}


/* COLOR OPTIONS FOR TIME OF THE DAY */
.past {
    background-color: rgb(209, 207, 207);
}

.present {
    background-color: rgb(243, 67, 67);
}

.future {
    background-color: rgb(65, 192, 65);

}